html {
    font-size: clamp(0.4rem, 2.65vh, 2.5em);
}

@media screen and (max-width: 600px) {
    html {
        font-size: clamp(0.4rem, min(4.75vm, 2.65vh), 2.5em);
    }
}

.card-button {
    color: black;
    background: white;
    border: .1em solid black;
    border-radius: .1em;
    margin: .05em;
    width: 1.8em;
    height: auto;
    aspect-ratio: 1 / 1;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    appearance: none;
}