* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: clamp(0.4rem, 2.65vh, 2.5em);
}

body {
    height: 100dvh;
}

@media screen and (max-width: 600px) {
    html {
        font-size: clamp(0.4rem, min(4.75vm, 2.65vh), 2.5em);
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100svh;
}

.card-button {
    color: black;
    background: white;
    border: .1em solid black;
    border-radius: .1em;
    width: 1.8em;
    height: 1.8em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    appearance: none;
}