

.card-button {
    color: black;
    background: white;
    border: .1em solid black;
    border-radius: .1em;
    margin: .05em;
    width: 1.8em;
    height: 1.8em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    appearance: none;
}